In [ ]:
import pandas as pd

In [ ]:
data_frame = pd.DataFrame(columns=['Name', 'Type'])
data_frame.head()

Empty DataFrame
Columns: [Name, Type]
Index: []

In [ ]:
x=6
rows, cols = (x,x)
hash_arr = [['None' for i in range(cols)] for j in range(rows)]

In [ ]:
hash_arr

[['None', 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None']]

In [ ]:
def insert(data_frame, name, typ):
    if (name not in data_frame.Name.values) or (typ not in data_frame.Type.values):
        data_frame.loc[-1] = [name, typ]        
        data_frame.index = data_frame.index + 1  
        data_frame = data_frame.sort_index()
    return data_frame
                        
def search(data_frame, name):
    return data_frame.loc[data_frame['Name'] == name]
                        
def delete(data_frame, name):
    try:
        inx = data_frame.loc[data_frame['Name'] == name].index[0] 
        data_frame.drop([inx],axis=0,inplace=True)
        data_frame.reset_index(inplace=True)
        data_frame.drop('index',axis=1,inplace=True)
        return data_frame
    except:
        print('Name not found')
        return data_frame
        

def show():
    print(data_frame)

    
def update(data_frame, name=None, new_name=None, typ=None, new_typ=None):
    if name:
        if name in data_frame.Name.values:
            data_frame.loc[data_frame.Name == name,'Name'] = new_name
    if typ:
        if typ in data_frame.Type.values:
            data_frame.loc[data_frame.Type == typ,'Type'] = new_typ
            
    return data_frame



def getHashKey(data_frame, name):

      if (name in data_frame.Name.values):
          dx = data_frame.loc[data_frame['Name'] == name].index[0] 
          n_ascii= ord(name[0]) #ASCII value
          mod =n_ascii % x 
          n=data_frame.iloc[dx]['Name']
          t=data_frame.iloc[dx]['Type']
        
          for j in range(x):
              if (hash_arr[mod][j]=='None'):
                 hash_arr[mod][j]=[n,t]
                 break;

In [ ]:
data_frame = insert(data_frame,'int','INTEGER')
data_frame = insert(data_frame,'function','FUNCTION')
data_frame = insert(data_frame,'i','ID')
data_frame = insert(data_frame,'5','NUM')
data_frame = insert(data_frame,'57','NUM')
data_frame = insert(data_frame,'float','Float')
data_frame = insert(data_frame,'53','NUM')

In [ ]:
data_frame = insert(data_frame,'tin','INTEGER')

In [ ]:
data_frame

       Name      Type
0       tin   INTEGER
1        53       NUM
2     float     Float
3        57       NUM
4         i        ID
5  function  FUNCTION
6       int   INTEGER

In [ ]:
search(data_frame, '5')

  Name Type
3    5  NUM

In [ ]:
data_frame = delete(data_frame,'5')
data_frame

       Name      Type
0        53       NUM
1     float     Float
2        57       NUM
3         i        ID
4  function  FUNCTION
5       int   INTEGER

In [ ]:
show()

       Name      Type
0        53    NUMBER
1     float     Float
2        57    NUMBER
3         5    NUMBER
4         i        ID
5  function  FUNCTION
6       int   INTEGER

In [ ]:
data_frame= update(data_frame, '57','58')
data_frame

       Name      Type
0        53    NUMBER
1     float     Float
2        58    NUMBER
3         5    NUMBER
4         i        ID
5  function  FUNCTION
6       int   INTEGER

In [ ]:
getHashKey(data_frame,'function')
hash_arr

[[['function', 'FUNCTION'], 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None']]

In [ ]:
getHashKey(data_frame,'float')
hash_arr

[[['function', 'FUNCTION'],
  ['float', 'Float'],
  'None',
  'None',
  'None',
  'None'],
 ['None', 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None'],
 ['None', 'None', 'None', 'None', 'None', 'None']]

In [ ]:
data_frame

         Name      Type
0       float     Float
1          87       NUM
2           5       NUM
3  myFunction  FUNCTION
4         int   INTEGER